* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: FloralWhite;
}

header {
	margin: 20px auto;
	background-color: ForestGreen;
	padding: 30px;
	font-size: 1.6em;
	width: 50%;
	border-radius: 10px;
	color: FloralWhite;
}

nav {
	padding: 10px;
	margin: 8px auto;
	width : 75%;
	display : flex;
	justify-content: center;
	background-color: ForestGreen;
	display: flex;
	width: 50%;
}

nav a {
	color: FloralWhite;
	text-decoration: none;
	padding: 0 20px
}

nav a:hover {
	color: ForestGreen;
	background-color: FloralWhite;
}

input[type=text] {
	padding: 15px;
	margin: 10px 0;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
}

input[type=submit] {
	padding: 15px;
	margin: 10px 0;
	border: 0;
	background-color: ForestGreen;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	color: FloralWhite;
	text-transform: capitalize;
}

.main {
	margin: auto;
	border: 2px solid ForestGreen;
	padding: 0 10%;
	width: 75%;
	align: center;
	background-color: Gainsboro;
	border-radius: 10px;
}

table {
	margin: 30px auto;
	width: 60%;
	border-radius: 5px;
	border-collapse: collapse;
}

td, th {
	border: 1px solid ForestGreen;
	text-align: left;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}

.error {
	width: 50%;
	margin: 10px auto;
	color: white;
	background-color: Red;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card .win {
	font-size: 2em;
	color: green;
}

.card .lose {
	font-size: 2em;
	color: red;
}

.card .tie {
	font-size: 2em;
}